# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
aiken/build/
# Aiken's default documentation export
docs/
# node modules
aiken/node_modules
aiken-tutorial/node_modules
node_modules
